<!-- <form [formGroup]="searchForm">
  <input
    type="text"
    class="form-control"
    placeholder="click the mic and speak"
    formControlName="searchText"
  />
</form> -->
<router-outlet></router-outlet>
<!-- <label>{{ searchForm.get("searchText")?.value }}</label> -->

<div class="browser-landing" id="main">
  <div class="compact marquee-stacked" id="marquee">
    <div class="marquee-copy">
      <h1>
        <a

          >Web Speech API</a
        >
        Demonstration
      </h1>
    </div>
  </div>
  <div class="compact marquee">
    <div class="texting" style="text-align: center;">
      Click on the microphone icon and begin speaking for as long as you like.
    </div>
    <form [formGroup]="searchForm" style="position: relative">
      <textarea
        id="results"
        placeholder="Enter comment..."
        maxlength="1000"
        minlength="100"
        type="text"
        class="form-control"
        placeholder="click the mic and speak"
        formControlName="searchText"
        [(ngModel)]="fieldVal"
      >
      </textarea>
      <div class="button-position">
        <div (click)="startRecording()" *ngIf="!isUserSpeaking">
          <img alt="Start" id="start_img" src="./../assets/mic.gif" />
        </div>
        <div *ngIf="isUserSpeaking" (click)="stopRecording()">
          <img alt="Start" id="start_img" src="./../assets/mic-animate.gif" />
        </div>
      </div>
    </form>
    <div id="copy">
      <button
        class="button"
        id="copy_button"
        (mousedown)="copyText()"

      >
        Copy and Paste

      </button>



    </div>
    <div class="compact marquee" id="div_language">
      <select
        id="select_language"
        (change)="consoleLog(selectedObject)"
        [(ngModel)]="selectedObject"
      >
        <option *ngFor="let state of langs" [ngValue]="state">
          {{ state[0] }}
        </option></select
      >&nbsp;&nbsp;
      <select
        id="select_dialect"
        style="visibility: visible"
        (change)="selectedlang()"
        [(ngModel)]="sState"
        *ngIf="selectedObject.length > 2"
      >
        <option
          *ngFor="let selectedstate of selectedObject | slice : 1"
          [ngValue]="selectedstate"
        >
          {{ selectedstate[1] }}
        </option>
      </select>
    </div>
    <!-- <select
      [(ngModel)]="selectedObject"
      class="form-control"
      (change)="consoleLog(selectedObject)"
    >
      <option *ngFor="let state of shopstates" [ngValue]="state">
        {{ state.statename }} ({{ state.statecode }})
      </option>
    </select> -->
  </div>
</div>
